<% layout("/layouts/boilerplate") %>
    
    <div id="filters">
        <div class="filter">
            <div> <i class="fa-solid fa-bed"></i> </div>
            <p> Rooms </p>
        </div>
        <div class="filter">
            <div> <i class="fa-solid fa-umbrella-beach"></i> </div>
            <p> beach </p>
        </div>
        <div class="filter">
            <div> <i class="fa-solid fa-mountain"></i> </div>
            <p> mountains </p>
        </div>
        <div class="filter">
            <div> <i class="fa-brands fa-fort-awesome"> </i> </div>
            <p> castle </p>
        </div>
        <div class="filter">
            <div> <i class="fa-solid fa-water-ladder"></i> </i> </div>
            <p> pool </p>
        </div>
        <div class="filter">
            <div> <i class="fa-solid fa-tents"></i> </div>
            <p> camping </p>
        </div>
        <div class="filter">
            <div> <i class="fa-solid fa-cow"></i> </i> </div>
            <p> farms </p>
        </div>
        <div class="filter">
            <div> <i class="fa-regular fa-snowflake"></i> </i> </div>
            <p> snow </p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" 
                    type="checkbox" role="switch" 
                    id="flexSwitchCheckDefault"
                >
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img" style="height: 20rem">
            <div class="card-img-overlay">
            </div>
            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b> <br>
                    <p class="base-price"> &#8377; <%= listing.price.toLocaleString("en-IN") %> <i class="price"> / night &nbsp; +18%GST </i> </p> 
                    <p class="with-tax" style="display: none;"> &#8377; <%= (listing.price + (0.18 * listing.price)).toLocaleString("en-IN") %> <i class="price"> / night </i> </p>
                </p>
            </div>
        </div>
        </a>
        <% } %>
    </div>

    

    <!-- <ul>
        <% for(let listing of allListings){ %>
            <li><a href="/listings/<%=listing._id%>"> <%= listing.title %> </a> </li>
        <% } %>
    </ul> -->
</body>


<!-- href bcz need to show the place details when clicked -->
<!-- and id bcz every listing has unique id -->